<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de notícias</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/css/bootstrap-material-design.min.css"
	 integrity="sha384-k5bjxeyx3S5yJJNRD1eKUMdgxuvfisWKku5dwHQq9Q/Lz6H8CyL89KF52ICpX4cL" crossorigin="anonymous">
	<link rel="stylesheet" href="css/app.css" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" role="navigation">			
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<a class="navbar-brand" href="/">
					<img class="img-responsive" src="/images/logo.png" width="280px" alt="">
				</a>
				<div class="space"></div>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-hidden="true" aria-haspopup="true" aria-expanded="false">
							Registros
						</a>
						<div class="dropdown-menu" >
							<a class="dropdown-item" title="Gerencie aqui as lojas parceiras..." href="/formulario_inclusao_noticia">Parceiros</a>
							<a class="dropdown-item" title="Gerencie aqui as promoções das lojas parceiras..." href="/noticias">Promoções</a>
							<a class="dropdown-item" title="Gerencie aqui os assinantes..." href="/noticias">Assinantes</a>
							<a class="dropdown-item" title="Gerencie aqui os tipos de planos disponíveis..." href="/noticias">Tipos de Planos</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Configurações</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<%- body %>
		</div>
	</main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
			© FCA Sistemas [2017] - <a href="http://fcalvarenga.com.br" title="Acesse nosso site" > Sistemas inteligentes </a>
		</span>
      </div>
    </footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw"
	 crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js" integrity="sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA"
	 crossorigin="anonymous"></script>

</body>

</html>