<%- contentFor('body') %>
    <div class='jumbotron text-center'>
        <h1 class="display-3">Dashboard</h1>
        <hr class="my-4">
        <p class="lead">
            WaysEconomy - O melhor caminho entre a economia e você...
        </p>
    </div>
<div class="row">
    <div class="col-sm-4">
        <div class="card border-info mb-3" style="height: 100%;">
            <h4 class="card-header card-title">Parceiros</h4>
            <div class="card-body text-info">
                <p class="card-text">500 parceiros cadastrados ativos.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card border-info mb-3" style="height: 100%;">
            <h4 class="card-header card-title">Promoções</h4>
            <div class="card-body text-info">
                <p class="card-text">10 mil vigentes;</p>
                <p class="card-text">2 mil para a próxima semana.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card border-info mb-3" style="height: 100%;">
            <h4 class="card-header card-title">Assinantes</h4>
            <div class="card-body text-info">
                <p class="card-text">85 assinantes ativos.</p>
            </div>
        </div>
    </div>
</div>    